.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the "active" element to highlight the current page */
  .topnav a.active {
    background-color: #2196F3;
    color: white;
  }
  
  /* Style the search box inside the navigation bar */
  .topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }

  #searchBar{
	flex-direction: row;
	align-items: center;
	display: flex;
	flex-shrink: initial;
	
	
  }

  /* The search bar */
  .dropdown { 
	margin-right: 20px;
	width: 100px;     /* customize Select tag(DropDown options) with id="alphalist" */
	display: inline-block;
	background-color: #F5F5F5;
	border-radius: 10px;
	outline: none;
	transition: all .5s ease;
	position: relative;
	vertical-align: center;
	font-size: 15px;
	color: black;
	height: 30px;
  }

input { border: 0;
background-color: #F5F5F5;
border-radius: 10px;
-webkit-appearance: none;
-moz-appearance: none;
-ms-appearance: none;
-o-appearance: none;
appearance: none;
text-align: left;
width: 100%;
height: 32px;        
}
