<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/account/css/style.css">
        <link rel="stylesheet" type="text/css" href="/navbar/css/style.css">
        <script defer src="/account/js/account.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>
    <body>
        <%- include('navbar.ejs') %>
        <div id="container">
        <form>
          <div id="changePasswordContainer">
            <h2>Change Password</h2>
            <div class="input-div one">
              <div class="input">
                <input type="password" id="oldPassword" name="oldPassword" placeholder="Old Password" class="input">
              </div>
            </div>
            <div class="input-div pass">
              <div class="input">
                <input type="password" id="newPassword" name="newPassword" placeholder="New Password" class="input">
              </div>
            </div>
            <h2 id="wrongPassword" style="font-size:small; color:red; visibility:hidden">Passowrd is incorrect</h2>
            <h2 id="changedPassword" style="font-size:small; color:green; visibility:hidden">Passowrd changed</h2>
            <button type="button" class="btn" onclick="changePassword()" class="btn">Change Password</button>
            <button type="button" class="btn" onclick="showMap()" class="btn">Show Map</button>
            <div id="map" style="visibility:hidden">
              <div class="mapouter"><div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas_m" src="https://maps.google.com/maps?q=המכללה למנהל&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://fmovies-online.net">fmovies</a><br><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}</style><a href="https://www.embedgooglemap.net">make google maps responsive</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div></div>
            </div>
          </div>
          </form>
        
        </div>
    </body>
</html>