<%- include('header.ejs') %>
        <link rel="stylesheet" type="text/css" href="/account/css/style.css">
        <link rel="stylesheet" type="text/css" href="/navbar/css/style.css">
        <script defer src="/account/js/account.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

      </head>
    <body>
      
        <%- include('navbar.ejs') %>
      <div id="align-items-center">
        <div id="container">
        <div id="jumbotron">
          <h1>"Lets go"</h1>
        </div>
        <form>
            <h2>here user name from ejs</h2>
            <div class="input-div one">
              <div class="input">
                <input type="password" id="oldPassword" name="oldPassword" placeholder="Old Password" class="input">
              </div>
            </div>
            <div class="input-div pass">
              <div class="input">
                <input type="password" id="newPassword" name="newPassword" placeholder="New Password" class="input">
              </div>
            </div>
            <h2 id="wrongPassword" style="font-size:small; color:red; visibility:hidden">Passowrd is incorrect</h2>
            <h2 id="changedPassword" style="font-size:small; color:green; visibility:hidden">Passowrd changed</h2>
            <button type="button" class="btn" onclick="changePassword()" class="btn">Login</button>

            <div id="completedTransactions">
                
            </div>
          </form>
        </div>
      </div>
<%- include('footer.ejs') %>