<html>
<head>
    <link rel="stylesheet" href="/admin/css/style.css">
    <script src="/admin/js/admin.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <div id="updateBook">
        <h2>Update Book</h2>
        <input id="updateBookId" class="updateBookId" type="text" placeholder="Book Name"/>        
        <input id="updateBookLength" class="updateBookLength" type="text" placeholder="Length"/>        
        <input id="updateBookCover" class="updateBookCover" type="text" placeholder="Cover picture"/>        
        <input id="updateBookSummary" class="updateBookSummary" type="text" placeholder="Summary"/>        
        <input id="updateBookPrice" class="updateBookPrice" type="text" placeholder="Price"/>        
        <input id="updateBookReleaseDate" class="updateBookReleaseDate" type="date" placeholder="Date"/>        
        <input id="updateBookQuantity" class="updateBookQuantity" type="text" placeholder="Quantity"/>        
        <input id="updateBookCategory" class="updateBookCategory" type="text" placeholder="Category"/>        
        <input id="updateBookAuthor" class="updateBookAuthor" type="text" placeholder="Author"/>        
        <button type="button" class="btn" onclick="updateBook()">Update Book</button>
    </div>

    <div id="updateCategory">
        <h2>Update Category</h2>
        <input id="updateCategoryInput" class="updateCategoryInput" type="text" placeholder="Category Name"/>        
        <input id="updateCategoryPicture" class="updateCategoryPicture" type="text" placeholder="Category Picture"/>        
        <button type="button" class="btn" onclick="updateCategory()">Update Category</button>
    </div>

    <div id="updateAuthor">
        <h2>Update Author</h2>
        <input id="updateAuthorInput" class="updateAuthorInput" type="text" placeholder="Author Name"/>        
        <input id="updateAuthorBioInput" class="updateAuthorBioInput" type="text" placeholder="Author Bio"/>        
        <input id="updateAuthorAgeInput" class="updateAuthorAgeInput" type="text" placeholder="Author Age"/>        
        <input id="updateAuthorPictureInput" class="updateAuthorPictureInput" type="text" placeholder="Author Picture"/>        
        <button type="button" class="btn" onclick="updateAuthor()">Update Author</button>
    </div>

    <div id="createBook">
        <h2>Create Book</h2>
        <input id="createBookId" class="createBookId" type="text" placeholder="Book Name"/>        
        <input id="createBookLength" class="createBookLength" type="text" placeholder="Length"/>        
        <input id="createBookCover" class="createBookCover" type="text" placeholder="Cover picture"/>        
        <input id="createBookSummary" class="createBookSummary" type="text" placeholder="Summary"/>        
        <input id="createBookPrice" class="createBookPrice" type="text" placeholder="Price"/>        
        <input id="createBookReleaseDate" class="createBookReleaseDate" type="date" placeholder="Date"/>        
        <input id="createBookQuantity" class="createBookQuantity" type="text" placeholder="Quantity"/>        
        <input id="createBookCategory" class="createBookCategory" type="text" placeholder="Category"/>        
        <input id="createBookAuthor" class="createBookAuthor" type="text" placeholder="Author"/>        

        <button type="button" class="btn" onclick="createBook()">Create Book</button>
    </div>
    <div id="createAuthor">
        <h2>Create Author</h2>
        <input id="createAuthorInput" class="createAuthorInput" type="text" placeholder="Author Name"/>        
        <input id="createAuthorBioInput" class="createAuthorBioInput" type="text" placeholder="Author Bio"/>        
        <input id="createAuthorAgeInput" class="createAuthorAgeInput" type="text" placeholder="Author Age"/>        
        <input id="createAuthorPictureInput" class="createAuthorPictureInput" type="text" placeholder="Author Picture"/>        
        <button type="button" class="btn" onclick="createAuthor()">Create Author</button>
    </div>

    <div id="createCategory">
        <h2>Create Category</h2>
        <input id="createCategoryInput" class="createCategoryInput" type="text" placeholder="Category Name"/>        
        <input id="createCategoryPicture" class="createCategoryPicture" type="text" placeholder="Category Picture"/>        
        <button type="button" class="btn" onclick="createCategory()">Create Category</button>
    </div>
    <div id="deleteBook">
        <h2>Delete Book</h2>
        <input id="deleteBookInput" class="deleteBookInput" type="text" placeholder="Book ID to Delete"/>        
        <button type="button" class="btn" onclick="deleteBook()">Delete Book</button>
    </div>
    <div id="deleteAuthor">
        <h2>Delete Author</h2>
        <input id="deleteAuthorInput" class="deleteAuthorInput" type="text" placeholder="Author name to Delete"/>        
        <button type="button" class="btn" onclick="deleteAuthor()">Delete Author</button>
    </div>
    <div id="deleteCategory">
        <h2>Delete Category</h2>
        <input id="deleteCategoryId" class="deleteCategoryId" type="text" placeholder="Category name to Delete"/>        
        <button type="button" class="btn" onclick="deleteCategory()">Delete Category</button>
    </div>
    <div id="promoteToAdmin">
        <h2>Promote To Admin</h2>
        <input id="promoteToAdminID" class="promoteToAdminID" type="text" placeholder="Username to Promote"/>        
        <button type="button" class="btn" onclick="promoteToAdmin()">Promote</button>
    </div>
</body>

</html>