<html>
<head>
    <link rel="stylesheet" href="/genre/css/style.css">
    <script src="/genre/js/login.js"></script>
</head>
</head>
<body>
    <nav class="topnav">
        <a class="active" href="/home">Home</a>
        <a href="/account">Account</a>
        <a href="/stores">Stores</a>
        <input type="text" placeholder="Search..">
    </nav>
    <div id="container">
        <div id="booksContainer">
            <h2><%=authorID%></h2>
            <div id="books">
                <% books.forEach((book) =>{ %>
                <a class="innerBook" href="/book/<%=book._id%>"> 
                    <h1 class="bookTitle"><%=book._id%></h1>
                    <img class="bookImage" src="<%=book.cover%>"></img>
                </a>
                <% }); %>
            </div>
        </div>

    </div>
</body>
</html>