<!DOCTYPE html>
<html>
  <head>
    <title>Login Form</title>
    <link rel="stylesheet" type="text/css" href="/login/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <script src="/login/js/login.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>

    <div class="container">
      <div class="login-content">
        <form>
          <h2 class="title">Log In</h2>
          <div class="input-div one">
            <div class="i">
              <i class="fas fa-user"></i>
            </div>
            <div class="input">
              <input type="text" id="username" name="username" placeholder="Username" class="input">
            </div>
          </div>
          <div class="input-div pass">
            <div class="i"> 
              <i class="fas fa-lock"></i>
            </div>
            <div class="input">
              <input type="password" id="password" name="password" placeholder="Password" class="input">
            </div>
          </div>
          <a href="/signUp"> Sign Up here</a>
          <h2 id="wrongPassword" style="font-size:small; color:red; visibility:hidden">Passowrd is incorrect</h2>
          <button type="button" class="btn" onclick="login()">Login</button>
        </form>
      </div>
    </div>
  </body>
</html>