<html>
<head>
    <link rel="stylesheet" href="/cart/css/style.css">
    <link rel="stylesheet" type="text/css" href="/navbar/css/style.css">
    <script src="/cart/js/login.js"></script>
</head>
<body>
    <div id="searchResults">
        

    </div>
</body>