<html>
<head>
    <link rel="stylesheet" href="/cart/css/style.css">
    <link rel="stylesheet" type="text/css" href="/navbar/css/style.css">
    <script defer src="/search/js/search.js"></script>
</head>
<body>
    <%- include('navbar.ejs') %>
    <div id="searchResults">
        

    </div>
</body>